/*
COLORS

#f8f4e1
#897853
#4e3620
#c8eed9

*/

/*  */
/* Universal Styles */
/*  */
html, body {
    background-color: #c8eed9;
    color: #4e3620;
}
div, nav, footer {
    background-color: #f8f4e1;
    margin: 10px;
    padding: 10px;
}
hr {
    border-color: grey;
    border: thick;
    border-style: dotted none none;
    border-width: 10px;
    width: 15%;
    margin: 20px auto;
    color: #4e3620;
}
h1,h2,h3,h4,h5,h6 {
    color: #897853;
    text-decoration: underline;
}
/*  */
/* Header */
/*  */
.headshot {
    height: 300px;
    margin: 10px;
}




/*  */
/* Navigation */
/*  */